@charset "gb2312";
/* CSS Document */
* { margin: 0; padding: 0 }
a:link, a:visited { text-decoration: none; }
ul, li { list-style-type: none }
img { border: 0; }
body { font-size: 12px; background: #226039 url(../images/bg.jpg) center 0 scroll no-repeat; color: #5d5d5d; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/* header */
header { width: 100%; margin: auto; border-bottom: #3c7a48 1px solid }
.quotes { width: 1000px; position: relative; margin: 60px auto 120px auto; }
.quotes p { text-shadow: #246640 1px 1px 1px; color: #fff; width: 330px; line-height: 26px; }
.text5 { position: absolute; left: 0px; top: 160px; font-family: "微软雅黑"; font-size: 30px; color: #FFF; -webkit-box-reflect: below -3px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white)); }/* below文字倒影方向向下，距离3px 颜色渐变由上往下 */
.flower { position: absolute; right: 0; top: 60px; background: url(../images/flower.png) no-repeat; width: 173px; height: 175px; z-index: 2 }
.flower img { margin: 22px 0 0 17px; display: block; }
/* nav */
#nav { width: 100%; line-height: 50px; height: 50px; font-family: "微软雅黑"; font-size: 16px; background: rgba(56,134,72,.8); text-align: center; position: relative; border-bottom: #559765 1px solid }
#nav ul { width: 1000px; margin: auto;   overflow: hidden }
#nav ul li { display: inline; margin: 0 12px; text-align: center; }
#nav ul li a { color: #fff; }

/* about */
.about { width: 110%;   padding: 20px 0; overflow: hidden }
.about ul { width: 1000px; margin: auto; line-height: 24px }
.about_girl span img, .about_boy span img { width: 130px; height: 130px; border-radius: 100% }
.about_girl, .about_boy { width: 100%; margin:10px auto 0; overflow: hidden }
.about_girl span { float: left; margin-right: 30px }
.about_girl p { height: auto;word-wrap: break-word; margin: 20px; background: #559664; color: #FFF; float: left; padding: 20px; width: 46%; border-radius: 6px; position: relative; box-shadow: inset #226039 -1px -1px 1px; text-shadow: #226039 1px 1px 0px }
.about_girl p::before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 20px 20px 20px 0; border-color: transparent #559664 transparent; position: absolute; left: -20px; }/* 三角形 */
.about_boy span { float: right; margin-left: 30px }
.about_boy p { height:auto;word-wrap: break-word;margin: 20px; background: #ececec; color: #444; float: right; padding: 20px; width: 46%; border-radius: 6px; position: relative; box-shadow: inset #999 1px -1px 1px; text-shadow: #fff 1px 1px 0px }
.about_boy p::before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 20px 0 20px 20px; border-color: transparent #ececec transparent; position: absolute; right: -20px; }
.about-time {position: absolute; right: 10px; bottom:10px}

.btn {width: 100%;height: 50px; background: #559664; color: white     }

/*footer*/
footer{ background:#032e13; height:56px; line-height:56px;}
footer p{ width:1000px; margin:auto; text-align:right;color:#559664 }
footer p a{color:#559664}
footer p a:hover{ text-decoration:underline}
/*topnav*/
.topnav{ line-height:50px; height:50px; color:#000; text-align:center;   position:fixed; width:100%; top:0; z-index:999; box-shadow:#333 0px 2px 2px}
.topnav a{ color:#000; font-weight:bold; margin:0 5px}